<div id="wrapper">
    <div class="page-content sidebar-page right-sidebar-page clearfix">
        <!-- .page-content-wrapper -->
        <div class="page-content-wrapper">
            <div class="page-content-inner">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Start col-lg- 3 -->
                    <div class="panel >
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">Lista de Podutos</h4>
                        </div>
                        <div class="panel-body">
                            <div class="scroll" data-height="170">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quo facilis magni consequuntur iusto reprehenderit impedit inventore expedita dolorum dolore. Consectetur, debitis, accusamus quae omnis aliquid iure beatae nihil esse consequuntur tenetur
                                error blanditiis vero nam aliquam sapiente molestiae iste animi. Voluptatem, molestiae, labore adipisci delectus doloremque sequi laborum cupiditate aut ullam id dolore dolor esse architecto magni a nam incidunt
                                vero rerum voluptate natus deserunt aperiam provident non nostrum saepe expedita perferendis beatae. Ut, placeat, nostrum, dolor veritatis eaque cum assumenda voluptatibus distinctio eum laborum accusantium
                                nobis nam repudiandae animi perspiciatis delectus recusandae labore tempore provident quia ullam aspernatur voluptates excepturi ad quidem! Blanditiis, minus repellendus magnam reprehenderit laboriosam possimus
                                enim dolorum eos debitis iste. Ipsum, explicabo, earum corporis nisi quaerat omnis cupiditate magni error totam accusantium natus numquam quam amet cumque rem voluptatibus atque sapiente beatae doloremque facere?
                                Qui, voluptate suscipit ipsum aperiam enim quae a cumque quas excepturi illum hic ex. Neque, quae officia veritatis iure consequuntur ipsa magnam repudiandae dignissimos architecto rerum quis ad adipisci. Officia,
                                rerum, omnis ab beatae praesentium placeat temporibus quaerat aut porro ratione? Dolores, molestias, libero, officiis deleniti impedit explicabo quis consectetur modi reprehenderit ullam fugit aliquid. Iusto
                                incidunt minima optio neque.
                            </div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
            </div>
        </div>
    </div>
</div>

@* ESTA função carrega os scripts necessarios para a execução deste componente *@

@*@section scripts{
    <script src="~/minificados/bundleJsMinifi.min.js"></script>

    <link href="~/minificados/bundleCsMinifi.min.css" rel="stylesheet" type="css" />*@
}